#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 350px;
  padding: 20px 10px;
  color: #fca311;
  background-color: #14213d;
  border-radius: 20px;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

input {
  width: 250px;
  color: #14213d;
  background-color: #e5e5e5;
  border: none;
  cursor: pointer;
}

canvas {
  color: #14213d;
  background-color: #e5e5e5;
  border-radius: 5px;
}

button {
  padding: 8px 16px;
  font-size: 1em;
  font-weight: bold;
  color: #14213d;
  background-color: #e5e5e5;
  box-shadow: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  color: #000000;
  background-color: gray;
}

#link {
  margin: 10px 0;
  width: 33vw;
  max-width: 150px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14213d;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

a:hover {
  text-decoration: underline wavy #e5e5e5;
}
