#box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 200px;
  height: 100px;
  color: #fca311;
  background-color: #14213d;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

#count {
  font-size: 2em;
  font-weight: bold;
}

#link {
  margin: 10px 0;
  width: 33vw;
  max-width: 150px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14213d;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

a:hover {
  text-decoration: underline wavy #e5e5e5;
}
